@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');

body{
    font-family: 'Almarai', sans-serif!important;
margin: 0% 0%;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
 ol,ul{
padding-left: 0%!important;

 }

.pageradio{

  display: none;
}

.selectedradio{

  background-color: #0275d8!important;
  color: white!important;
}

form{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-floating{
    margin-left: 10px;
    width: 25%;
    font-size: 13px;

}


input[type="submit"]{
width: 20%;
margin-left: 10px;
background-color: #0275d8;
border: none;
border-radius: 5px;
color: white;

}

nav{

    padding-top: 1%;
}



  .container {
      width: 100%!important;
    max-width: 96%!important;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  
  }
  

  .responsive-table  li {
      border-radius: 10px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .table-header {
      background-color: #0275d8;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: white;

    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      height: 70px;
    }
    .col {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
      width: 15%!important;
    }
    .col-4 {
      flex-basis: 25%;
    }
  

    #profilepic{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

   .pagination{
justify-content: center;
   }
   .add-request {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #3697f1;
     transition-duration: 0.5s;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   a {
     text-decoration: none!important;
   }
   .add-request:hover {
     background-color: #0275d8;
   }
   .add-request .fa-plus {
     color: #fff;
   }


   @media screen and (max-width: 900px) {
   
.nophone{
    display: none;
}
.col{
    font-size: 12px;
}

.col-3{
    width: 30%;
}
.form-floating{
    margin-left: 10px;
    width: 35%;
    font-size: 10px;

}
option{
    font-size: 13px;
}


}